/* @group Dashboard */
#dashboard_right_now .cachify-icon{
	width: 19px;
	height: 13px;
	fill: #82878c;
}

#dashboard_right_now li a.cachify-glance::before{
	content: "";
	padding: 0;
}/* @end group */