/* @group Dashboard */

@font-face {
	font-family: 'cachifyIcons';
	src: url('data:font/opentype;base64,d09GRk9UVE8AAAeoAAsAAAAACwAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAABH0AAAYvUwq5sEZGVE0AAAWIAAAAGgAAABxnEoYOR0RFRgAABaQAAAAdAAAAIAAxAARPUy8yAAAFxAAAAEsAAABgPkRZ1GNtYXAAAAYQAAAAPgAAAVDSIAC/aGVhZAAABlAAAAAwAAAANgIoWnloaGVhAAAGgAAAAB0AAAAkCSQE9WhtdHgAAAagAAAAEAAAABAQDAAAbWF4cAAABrAAAAAGAAAABgAEUABuYW1lAAAGuAAAAOEAAAGStv2Zc3Bvc3QAAAecAAAADAAAACAAAwAAeJxVVG1MW2UUfgstvWPApluNyRpm5gcmrD+WfST7oT+26Q/NnJLehsShqQMBrQXaUlgyGBba2/ue215awLFEncBYsrdlZr/M4g9jIovGRETN1DCSLX4kilGzKPfiZby+px8y2+bp6XvOec5znvemNmK3E5vNtuXVrmCkLRDoIrYKYiN7zfoKc3el+aAdaiqhxk6tR9yOobVlh5tEt7kJ2e4mA/e5SbW76tH7iQM7JLKd7CC7yMPhQOepNs++Vn/E/4o/3NbR2lqm/m8EITbFlrSpxI6d9ooG+yeOt83GOtO3tuQy3SnzSfgoOUOz6mTs3YHJ/mxQP62dhgawKiCegCgEg7EuKd5HO0aj452Xui+paYB2annAaoexaCAaOJM4Cm9Aj0Y1iWowCzlYoKkIxGBYVZPJJO0Dv/ScZ94JjF5WdTWraIMghan69G54/ox6EgIp+NSxCLS7fggUqo6oCu2GoNTkVM6qHfUn56uAqZepniw0vgkxwaoWWeFEVPT3YD98CVqY9tNEQogf1rpoSGrxXHcu0lS4P5noqocT0OYBmHfcqyICagJatD7ohiGJ9or8Z45FrSwkLoQEIUBfhx5KhTwIwDPaQLpv6uz5QZZ8T6KT9LpmHJHA2Hou7XhHn54emx6f0fLxmRHWezGUSWiJFGhqCoxQamI0f+HK1Hnprew0mPaUFLCmXcqE9YQ2ElPiNALWQfHRInpcj5+Db8R7EvSMnoEpMA6KAYR+p+qSWZ1yjYxbhyGOTSGw9oN1QAun49mYcZhmJ/SMJuoPgXGAzigZUZ52qalTWgschUFQ4kocwqIBrEPQq5d70qPaLBj7xYyH4IOkqqoAmq6lQU+mpLrVtSNGq4vzX1me82XZx/kN2cv5D7J8nPNfSihOrzHG+V8IV2UflBFPyVbZd5yTBxgrIjL4OHGzHLKK/B6WUzipwsy6OCQVmLkry5xv3BOx0k9RIoj/YTmpwSmCLxi7wvnXxLbI+beyXEDB/gLWryB7CwohL7E8LHOyU3CRp8QC5HGctBntEeuRvZyL0n2yT/pDUJM65LCwhODgVXTgjpibMrJlQ27LPn+I84/Rkt+wfDO6hq6sIvzPEBSwpVgpoh2Y34xusNzFPk7qMb+Ksmrx1JJlABzNJEvCnb8quCb72jg5hqW3ceNSJKiasOlPllsRO/gL2zdhwzZZXkDuXAHZ3FWR8IhdDcmJJos1qxlTCt6Kzf4WGetn46arUZzMMTbI+YeyrwdRFrjMcgFol55FOd9jr5DzWknEj+hlKWIlOXdkH8p5mW9A8YTUYu4Ylu4qyi9EBSZvXhQ9xvLS5054H2flGc71zpZxjuUnG0GqMxuNYfuStbB2E5aMBetFc279d3BYteu3XGu3wGt13g2Bw1xZdeFDVbg9phcvhThkbxyxWeAWvLR1tK4Wo42i897iUyduSyirZLkMJ1IJGR7kSylbyTqMmouRIPMirVjckL1jiM1jONiro7NekIpfhYdKGRYvBUMGRd/rxF//TvMnF9RU/wujck16AAAAeJxjYGBgZACCk535hiD63JHuPBgNAEeLBwoAAHicY2BkYGDgA2IJBhBgYmAEQmYgZgHzGAAEawA2AAAAeJxjYGbhYZzAwMrAwdTFtIeBgaEHQjM+YDBkZGJgYGJgZWaAAwEEkyEgzTWFweEFwwsm5qD/WQxRzB4ME4DCjHAFCkDICABEXgunAHicY2BgYGaAYBkGRgYQ8ALyGMF8FgY9IM0GpBkZmBgYXjD9/w9S8IIBQoNVsYBpZpA8IxsD1IiRCwCM1gauAAB4nGNgZGBgAGJ5/eDoeH6brwzczC+AIgznjnTnIej/BawNzB5ALgcDE0gUAC0wCvN4nGNgZGBg9vhfwBDF2sAABECSkQEVsAAAVGoDJQAAAAPoAAAFgAAAArwAAAPoAAAAAFAAAAQAAHicfY49TsNAEIU/J04gAiFEQUOzBR2ytba7HCCipkifYmNFsrzSJilzjRwgZ6DlGByAM3ABnsPQUGRHo/n26c0PcMuRjOFlXPNgPOKKF+MxzxyMc3nejSfc8Gk8lf4tZ5bPpNyfuwYecceT8ZhXGuNcnpPxhEc+jKfSv1gT6dkR6BQR1rHfha4TvUls2UtekfQN7b5bCRbWMtQkR8BRU+JV58r/I3/VhoJKvkLpRY0GadUipja4uvRu7v5WC5uiqovaV3JduHApMbFlc7Y4TR2uYBnSdhN7V5X+UvsPgak9lQAAAHicY2BmwAsAAH0ABA==') format('woff');
}

#dashboard_right_now .cachify-icon:before {
	color: #82878c;
	font-family: "cachifyIcons";
}
#dashboard_right_now .cachify-icon--hdd:before {
	margin: 3px 7px 0 2px;
	content: "\e801";
	font-size: 16px;
}
#dashboard_right_now .cachify-icon--db:before {
	margin: 1px 9px 0 3px;
	content: "\e802";
	font-size: 18px;
}
#dashboard_right_now .cachify-icon--apc:before,
#dashboard_right_now .cachify-icon--memcached:before {
	margin: 3px 6px 0 0;
	content: "\e800";
	font-size: 13px;
}

/* @end group */