.wp-core-ui .button-flush {
	background: #dd823b;
	border-color: #c36922 #ad5d1e #ad5d1e;
	color: #fff;
	box-shadow: 0 1px 0 #ad5d1e;
	text-shadow: 0 -1px 1px #ad5d1e, 1px 0 1px #ad5d1e, 0 1px 1px #ad5d1e, -1px 0 1px #ad5d1e;
}

.wp-core-ui .button-flush:focus,
.wp-core-ui .button-flush:hover {
	background: #df8a48;
	border-color: #ad5d1e;
	color: #fff;
	box-shadow: 0 1px 0 #ad5d1e;
}

.wp-core-ui .button-flush:focus {
	box-shadow: inset 0 1px 0 #c36922, 0 0 2px 1px #33b3db;
}

.wp-core-ui .button-flush.active,
.wp-core-ui .button-flush.active:focus,
.wp-core-ui .button-flush.active:hover,
.wp-core-ui .button-flush:active {
	background: #c36922;
	border-color: #ad5d1e;
	box-shadow: inset 0 2px 0 #ad5d1e;
}
