parameters:
    level: 1
    paths:
        - inc/
        - cachify.php
    scanFiles:
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        #- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        #- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
    excludePaths:
        - inc/cachify.settings.php
    ignoreErrors:
        - '/^Constant CACHIFY_BASE not found\.$/'
        - '/^Constant DOMAIN_CURRENT_SITE not found\.$/'
